{{define "partials/footer.html"}}
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center text-lg-left">
                    2019 © Webkodes Tech.
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right d-none d-lg-block">
                    Developed By - Ashutosh Dubey
                </div>
            </div>
        </div>
    </div>
</footer>
{{end}}