{{define "partials/scripts.html"}}


        <!-- jQuery  -->
        <script src="/public/assets/js/jquery.min.js"></script>
        <script src="/public/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/public/assets/js/waves.js"></script>
       
          <!-- Morris Js-->
          <script src="/public/assets/js/morris.min.js"></script>
          <!-- Raphael Js-->
          <script src="/public/assets/js/raphael.min.js"></script>
      
          <!-- Morris Custom Js-->
          <script src="/public/assets/pages/morris-chart-demo.js"></script>
     
        <!-- App js -->
        <script src="/public/assets/js/theme.js"></script>
{{end}}